{% load custom_tags_and_filters %}
<!-- Modal rate spot-->
<div class="modal fade" id="rating-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display:none">
  <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h2 class="title" id="myModalLabel">
                Rate it!
            </h2>
        </div>
        <div class="modal-body">
            <form id="rating-form" class="form-horizontal">
                <input type="hidden" value="" name="spot_pk">

                <div class="form-group" id="allowance">
                    <label class="control-label col-sm-4">Is enabled?</label>
                    <div class="col-sm-8">
                        <label class="is_not_enabled" title="NOT allowed :-(" style="opacity: 0.2;" for="is_not_enabled">
                        <input class="allowance" type="radio" value="false" id="is_not_enabled" name="is_enabled" required></label>
                        <label class="is_enabled" title="allowed ;-)" style="opacity: 0.2;" for="is_enabled">
                        <input class="allowance" type="radio" value="true" id="is_enabled" name="is_enabled" required></label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-4" for="id_rating">Rate:</label>
                    <div class="col-sm-8">
                    <div class='rate'>
                        <span data-score="" class="rating" id="modal_rating"></span>
                    </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-4" for="id_facilities">Facilities:</label>
                    <div class="col-sm-8">
                        <table>
                            {% for element in HSTORE_SCHEMA %}
                                <tr>
                                    <td>{{element|keyvalue:'kwargs'|keyvalue:'verbose_name'}}</td>
                                    <td width="50px"></td>
                                    <td>
                                        <select name="facilities[{{element|keyvalue:'name'}}]">
                                            <option value="null" selected="selected">Unknown</option>
                                            <option value="true">Yes</option>
                                            <option value="false">No</option>
                                        </select>
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
                <div class="form-group">
                  <div class="col-sm-offset-4 col-sm-8">
                    <button type="submit" class="btn btn-default">Submit</button>
                  </div>
                </div>
            </form>
        </div>
    </div>
  </div>
</div>



<!-- Modal add Spot-->
<div class="modal fade" id="add-spot-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display:none">
  <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h2 class="title" id="myModalLabel">
                Add Spot
            </h2>
        </div>
        <div class="modal-body">
            <div role="tabpanel">

              <!-- Nav tabs -->
              <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#standard-form" aria-controls="standard-form" role="tab" data-toggle="tab">Form</a></li>
                <li role="presentation"><a href="#nearby" aria-controls="nearby" role="tab" data-toggle="tab">Nearby search</a></li>
                <li role="presentation"><a href="#pick-from-map" aria-controls="pick-from-map" role="tab" data-toggle="tab">Pick on map</a></li>
              </ul>

              <!-- Tab panes -->
              <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="standard-form">...</div>
                <div role="tabpanel" class="tab-pane" id="nearby">...</div>
                <div role="tabpanel" class="tab-pane" id="pick-from-map">...</div>
              </div>

            </div>
        </div>
    </div>
  </div>
</div>




