{% extends "base.html" %}

{% load bootstrap3 %}

{% block extra_head %}
    {{ form.media }}
{% endblock %}

{% block content %}

<style>
.label-suczka {
  background-color: pink;
}
</style>


<h2>
  <span class="glyphicon glyphicon-th-large"></span> Dogs!
</h2>


<div class="row">
{% for dog in dogs %}
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img data-src="holder.js/350x150" alt="...">
      <div class="caption">
        <h4>
          {{ dog.name|upper }}
          {% if dog.sex %}
            <span class="label label-info"><i class="icon-male"></i></span>
          {% else %}
            <span class="label label-suczka"><i class="icon-female"></i></span>
          {% endif %}
        </h4>
        <p>{{ dog.bred }}, {{ dog.comment }}</p>
      </div>
    </div>
  </div>
{% endfor %}
</div>



{% if dogs.paginator.num_pages > 1 %}

    <ul class="pagination pagination-centered">

        {% if dogs.has_previous %}
            <li><a href="?page=1"><<</a></li>
            <li><a href="?page={{ dogs.previous_page_number }}"><</a></li>
        {% endif %}

        {% for i in dogs.paginator.page_range %}
            <li {% if dogs.number == i %} class="active" {% endif %}><a href="?page={{i}}">{{i}}</a></li>
        {% endfor %}

        {% if dogs.has_next %}
            <li><a href="?page={{ dogs.next_page_number }}">></a></li>
            <li><a href="?page={{ dogs.paginator.num_pages }}">>></a></li>
        {% endif %}

    </ul>

{% endif %}





{% endblock %}


