{% extends "base.html" %}o

{% block content %}
{% load instance_settings_via_tags %}


<center>
    <img src="{{STATIC_URL}}{% settings_value "SPOT_PROJECT_NAME" %}/logo.png" alt="{% settings_value "SPOT_PROJECT_NAME" %} - {% settings_value "SPOT_PROJECT_SLOGAN" %}" style="max-height:200px">

    <h1 style="font-family: 'Lobster'">
        {% settings_value "SPOT_PROJECT_NAME" %} - {% settings_value "SPOT_PROJECT_SLOGAN" %}<br>
    </h1>
    <h2 class='project_description'>
        {% settings_value "SPOT_PROJECT_DESCRIPTION" %}
        <br><br>
    </h2>
 </center>
        <div class="banner spot_project_color_background">
            <ul>
                <li style="">
                    <div class="inner">
                        <h1>MAP</h1>
                        <p class='banner_function_description'>Visualize nearby spots on the map</p>
                        <i class="fa fa-map-marker fa-5x" style="color:#ffffff"></i>
                        
                    </div>
                </li>

                <li style="">
                    <div class="inner">
                        <h1>MOBILE</h1>
                        <p class='banner_function_description'>Use mobile version on the go</p>
                        <i class="fa fa-mobile fa-5x" style="color:#ffffff"></i> 
                        
                    </div>
                </li>

                <li>
                    <div class="inner">
                        <h1>CERTIFICATED</h1>
                        <p class='banner_function_description'>Find the best spots</p>
                        <i class="fa fa-certificate fa-5x" style="color:#ffffff"></i>
                        
                    </div>
                </li>

                <li>
                    <div class="inner">
                        <h1>HEART IT</h1>
                        <p class='banner_function_description'>Remeber your beloved spots by hearting it</p>
                        <i class="fa fa-heart fa-5x" style="color:#ffffff"></i>
                        
                    </div>
                </li>
            </ul>
        </div>



        <script type="text/javascript" src="{{ STATIC_URL }}external/unslider/unslider.min.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/mission.js"></script>
        <script>
            // if(window.chrome) {
            //     $('.banner li').css('background-size', '100% 100%');
            // }

            // $('.banner').unslider({
            //     speed: 1500,
            //     arrows: false,
            //     fluid: true,
            //     dots: true
            // });

            // //  Find any element starting with a # in the URL
            // //  And listen to any click events it fires
            // $('a[href^="#"]').click(function() {
            //     //  Find the target element
            //     var target = $($(this).attr('href'));

            //     //  And get its position
            //     var pos = target.offset(); // fallback to scrolling to top || {left: 0, top: 0};

            //     //  jQuery will return false if there's no element
            //     //  and your code will throw errors if it tries to do .offset().left;
            //     if(pos) {
            //         //  Scroll the page
            //         $('html, body').animate({
            //             scrollTop: pos.top,
            //             scrollLeft: pos.left
            //         }, 1500);
            //     }

            //     //  Don't let them visit the url, we'll scroll you there
            //     return false;
            // });

        </script>

{% endblock %}
