{% extends "base.html" %}

{% load bootstrap3 %}

{% block extra_head %}
    {{ form.media }}
{% endblock %}

{% block content %}


{% load instance_settings_via_tags %}
<h2 class="titles">
  <span class="fa fa-th-large fa-2x spot_project_color"></span> Spots!
</h2>


<div class="row">
{% for spot in spots %}
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">

      {% if spot.is_enabled %}
        <img src="/static/{% settings_value "SPOT_PROJECT_NAME" %}/marker-ok.png" class="enablence-symbol">
      {% else %}
        <img src="/static/{% settings_value "SPOT_PROJECT_NAME" %}/marker-bad.png" class="enablence-symbol">
      {% endif %}




      {% if spot.thumbnail_venue_photo %}
        <img src="{{spot.thumbnail_venue_photo}}" class="venue_photo{% if spot.is_enabled %} ok {% else %} bad{% endif %}" style="width: 350px; height: 150px;">
      {% else %}
        <img data-src="holder.js/350x150/text: no photo" alt="..." class="venue_photo{% if spot.is_enabled %} ok {% else %} bad{% endif %}">
      {% endif %}
      <div class="caption">
        <h4>
          <a href="{% url 'spot' spot.pk spot.spot_slug %}">{{ spot.name|upper }}</a>
        </h4>

    <div class="col1">
        <p>{{ spot.address_city}}, {{spot.address_street}} {{spot.address_number}}<br>
        {{spot.phone_number}}</p>
        <span data-score="{{spot.friendly_rate}}" class="rating" id={{spot.pk}}></span>
    </div><div class="col2">


      {% if spot in user.favourites %}
        <span class="heart" data-url="/api/favourites_spots/" data-spot-pk="{{spot.pk}}" data-fav-pk="{{user.spot_pk_to_fav_asset_pk|keyvalue:spot.pk}}"></span>
      {% else %}
        <span class="no-heart {% if user.is_authenticated == False %}disabled{%endif%}" data-url="/api/favourites_spots/" data-spot-pk="{{spot.pk}}" data-fav-pk=""></span>
      {% endif %}
    </div>

      </div>
    </div>
  </div>
{% endfor %}
</div>
<div style="display:none">
    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
</div>


{% if spots.paginator.num_pages > 1 %}

    <ul class="pagination pagination-centered">

        {% if spots.has_previous %}
            <li><a href="?page=1"><<</a></li>
            <li><a href="?page={{ spots.previous_page_number }}"><</a></li>
        {% endif %}

        {% for i in spots.paginator.page_range %}
            <li {% if spots.number == i %} class="active" {% endif %}><a href="?page={{i}}">{{i}}</a></li>
        {% endfor %}

        {% if spots.has_next %}
            <li><a href="?page={{ spots.next_page_number }}">></a></li>
            <li><a href="?page={{ spots.paginator.num_pages }}">>></a></li>
        {% endif %}

    </ul>

{% endif %}





{% endblock %}
{% block scripts %}
  {{ block.super }}
  <script language="javascript"> var STATIC_URL = "/static/"; var BASE_HOST = "//{{request.META.HTTP_HOST}}"</script>
  <script type="text/javascript" src="{{ STATIC_URL }}external/raty/jquery.raty.js"></script>
  <script>
  var isAuthenticated = eval("{{user.is_authenticated|lower}}");
    $('span.rating').raty({
    score: function() {
      return $(this).attr('data-score');
    },
    readOnly: function() {
      return !isAuthenticated;
    }
  });
    $(".venue_photo").fadeTo(0, 0.4); // initial opacity

    $(".venue_photo").hover(function( e ) {
       $(e.target).stop().fadeTo(300, e.type=="mouseenter"?1:0.2);
    });
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie != '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        // console.log(cookieValue);
        return cookieValue;
    }

    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
            }
        }
    });

    $(document).on("click", "span.heart", function(e) {
      // console.log("gonna delete from fav");
      // console.log($(this).data('url'));
      heart = $(this);
      deleteFavUrl = $(this).data('url') + $(this).data('fav-pk') +'/';
      // console.log("DELETE:", deleteFavUrl);
      $.ajax({
            url: deleteFavUrl,
            type: 'DELETE',
            success: function(result) {
              $(heart).removeClass('heart').addClass('no-heart');
            }
        });
    });

    $(document).on("click", "span.no-heart:not(.disabled)", function(e) {
      heart = $(this);
      url = $(this).data('url');
      // console.log("POST:", url);
      $.ajax({
            url: url,
            data: {'spot_pk': $(this).data('spot-pk')},
            type: 'POST',
            success: function(result) {
              $(heart).data('fav-pk', result.pk)
              $(heart).removeClass('no-heart').addClass('heart');
            }
        });
    });
    $(document).on("click", "span.no-heart.disabled", function(e) {
      alert("Login required to add spots to favourites!");
    });

    $(document).on('click', 'span.rating', function(e) {
        //here should happen POST with rating for spot given by logged-in user.
      console.log("spot:", $(this).attr('id'), "score:", $(this).find('input[name="score"]').val());


      $.ajax({
            url: '/api/raitings/',
            data: {'spot_pk': $(this).attr('id'), 'friendly_rate': $(this).find('input[name="score"]').val()},
            type: 'POST',
            success: function(result) {
              $(heart).data('fav-pk', result.pk)
              $(heart).removeClass('no-heart').addClass('heart');
            }
        });


    });
  </script>
</script>
{% endblock scripts %}

