{% extends "base.html" %}

{% load bootstrap3 %}

{% block extra_head %}
    {{ form.media }}
{% endblock %}

{% block content %}

<h2 class="titles">
  <span class="fa fa-rss fa-2x spot_project_color"></span> Blog!
</h2>


{% for post in object_list %}

<div class="row">
    <div class="col-md-6 no-col-padding">
        <h1 style="font-family:Lato">
            <a href="{% url 'blogpost_detail' pk=post.pk post_slug=post.post_slug %}" style="text-decoration:none; font-weight:600">{{post.title}}</a>
        </h1>
        <h2 style="font-family:Lato Italic">{{post.text}}</h2>
    </div>
    <div class="col-md-6">
        <a href="{% url 'blogpost_detail' pk=post.pk post_slug=post.post_slug %}"> {{post.admin_blogpost_photo_thumb|safe}}</a>
    </div>
</div>

{% endfor %}
<div class="row">
    <div class="col-md-6 no-col-padding">
        <a href="{% url 'blog_rss' %}" target="_blank">
            <i class="fa fa-rss-square fa-2x"></i> Posts (Atom)
        </a>
    </div>
    <div class="col-md-6">
    </div>
</div>
{% endblock %}

{% block scripts %}
  {{ block.super }}
{% endblock scripts %}