{% extends "www/base.html" %}

{% load custom_tags_and_filters %}
{% block extra_head %}
    {{ form.media }}
{% endblock %}

{% block content %}
    <h2 class="title">
        <span class="glyphicon glyphicon-user"></span> Register!
    </h2>
    <form class="form-vertical" action="{% url 'accounts:user_create'%}" method="post">
        {% csrf_token %}
        {% for field in form %}
                {% if field.field.required %}
                    *<b>{{field.label}}</b>
                 {% else %}
                    {{field.label}}
                 {% endif %}
        	    {{field|add_css:'form-control'}}
                {% if field.errors %}
            		<p class="error">{{field.errors}}</p>
                {% endif %}
        	{% endfor %}
        <input type="submit" value="Submit" class="btn btn-default">
    </form>
{% endblock %}
