{% extends "www/base.html" %}
{% load custom_tags_and_filters %}
{% block title %}
    {{site_title}} - {% settings_value "SPOT_PROJECT_NAME" %} - {% settings_value "SPOT_PROJECT_SLOGAN" %}
{% endblock %}



{% block extra_head %}
{% endblock %}
{% load static %}
{% block content %}
<head>
    {{ form.media }}
</head>
    <h2 class="titles">
        <i class="fa fa-plus fa-2x spot_project_color"></i> Add new spot!
    </h2>

    <form method="post" action="{% url 'www:add_spot' %}"  enctype="multipart/form-data">
<div class="row">
    <div class="col-md-12">
        {{form.non_field_errors}}
        {% csrf_token %}
        	{% for field in form %}
                {% if field.field.required %}
                    *<b>{{field.label}}</b>
                 {% else %}
                    {{field.label}}
                 {% endif %}
        	    {{field|add_css:'form-control'}}
                {% if field.errors %}
            		<p class="error">{{field.errors}}</p>
                {% endif %}
        	{% endfor %}
    </div>
</div>
<div class="row">
    <center>
        <input type="submit" value="Save spot" class="btn btn-default btn-lg" style="margin-top: 15px">
    </center>
</div>
</form>

{% endblock %}

{% block scripts %}
  {{ block.super }}
{% endblock scripts %}