{% extends "www/base.html" %}
{% load custom_tags_and_filters %}
{% block title %}
    {{site_title}} - {% settings_value "SPOT_PROJECT_NAME" %} - {% settings_value "SPOT_PROJECT_SLOGAN" %}
{% endblock %}



{% block extra_head %}
{% endblock %}
 {{ form.media }}
{% load custom_tags_and_filters %}

{% block content %}
<head>
    {{ form.media }}
</head>
  <h2 class="titles">
        <i class="fa fa-plus fa-2x spot_project_color"></i> Add new spot!
    </h2>

<div class="row">
    <div class="col-md-12">
        Search:
        <input type="text" class="form-control" id="us3-address"/>
    </div>
</div>
<div class="row">
<div class="col-md-12">
    <p>You can drag and drop the marker below.</p>
    <div id="us3" style="width: 100%; height: 400px; margin-bottom:10px"></div>
</div>
</div>
 <form method="post" action="{% url 'add_spot' %}"  enctype="multipart/form-data">
<div class="row">
    <div class="col-md-4">
        {{form.non_field_errors}}
        {% csrf_token %}
        	{% for field in form %}
        		{% if field.name != 'location' and field.name != 'cropping_venue_photo' %}
        			{% if field.field.required %}
        			 *<b>{{field.label}}</b>
        			 {% else %}
        			 {{field.label}}
        			 {% endif %}
        		{% endif %}
        	    {{field|add_css:'form-control'}}
                {% if field.errors %}
            		<p class="error">{{field.errors}}</p>
                {% endif %}
            {% if forloop.counter == 5 %}
                </div>
                <div class="col-md-4">
            {% endif %}
            {% if forloop.counter == 7 %}
                </div>
                <div class="col-md-4">
            {% endif %}
        	{% endfor %}
    </div>
</div>
<div class="row">
    <center>
        <input type="submit" value="Zapisz zmiany" class="btn btn-default btn-lg" style="margin-top: 15px">
    </center>
</div>
</form>

{% endblock %}

{% block scripts %}
  {{ block.super }}
  <script type="text/javascript" src="{{ STATIC_URL }}external/jquery-locationpicker-plugin/src/locationpicker.jquery.js"></script>

 <script>
	 var strIPLocation = window.getIPbasedLocation();
        if (strIPLocation != null) {
                latitude = parseFloat(strIPLocation[0]);
                longitude = parseFloat(strIPLocation[1]);
        }
        else {
                latitude = 52.228378;
                longitude = 21.000447;
        }


    	currentLocation = window.getCurrentPosition();


	if (currentLocation && currentLocation.latitude != null && currentLocation.longitude != null){
		console.log('yay we have geo!');
		console.log(currentLocation.latitude);
		console.log(currentLocation.longitude);
		latitude = currentLocation.latitude;
		longitude = currentLocation.longitude;
	}

    function updateControls(addressComponents) {
        console.log(addressComponents);
        $('#address_street').val(addressComponents.streetName);
        $('#address_number').val(addressComponents.streetNumber);
        $('#address_city').val(addressComponents.city);
        $('#address_country').val(addressComponents.country);
    }
    function updateLocation(lat, lng){
    	djangoPoint='Point('+lng+' '+lat+')';
    	$('#location').val(djangoPoint);
    }

    $('#us3').locationpicker({

        location: {latitude: latitude, longitude: longitude},
        radius: 0,
        inputBinding: {
            latitudeInput: $('#us3-lat'),
            longitudeInput: $('#us3-lon'),
            locationNameInput: $('#us3-address')
        },
        enableAutocomplete: true,
        onchanged: function (currentLocation, radius, isMarkerDropped) {
        	// console.log(currentLocation);
        	updateLocation(currentLocation.latitude, currentLocation.longitude);
            var addressComponents = $(this).locationpicker('map').location.addressComponents;
            updateControls(addressComponents);
        },
        oninitialized: function(component) {
        	var location = $(component).locationpicker('map').location;
            var addressComponents = location.addressComponents;
            updateLocation(location.latitude, location.longitude);
            updateControls(addressComponents);
        }
    });</script>
{% endblock scripts %}