{% extends "www/base.html" %}
{% load custom_tags_and_filters %}
{% block title %}
    {{site_title}} - {% settings_value "SPOT_PROJECT_NAME" %} - {% settings_value "SPOT_PROJECT_SLOGAN" %}
{% endblock %}




{% load custom_tags_and_filters %}

{% block content %}
<head>
    {{ form.media }}
</head>

<form method="post" action="{% url 'edit_photo' pk=spot.pk %}"  enctype="multipart/form-data">
{% csrf_token %}
	{% for field in form %}

			{% if field.field.required %}
			 *<b>{{field.label}}</b>
			 {% else %}
			 {{field.label}}
			 {% endif %}

	    {{field|add_css:'form-control'}}
		<p class="error">{{field.errors}}</p>
	{% endfor %}
<input type="submit" value="Zapisz zmiany" class="btn btn-default btn-lg">

</form>

{% endblock %}
