{% extends "www/base.html" %}

{% load custom_tags_and_filters %}

{% block extra_head %}
    {{ form.media }}
{% endblock %}

{% block content %}

    <h2 class="title">
        <span class="glyphicon glyphicon-log-in"></span> Login!
    </h2>
    <form class="form-vertical" action="{% url 'accounts:login' %}" method="post">
       {{form.non_field_errors}}
        {% csrf_token %}
        	{% for field in form %}
                {% if field.field.required %}
                    *<b>{{field.label}}</b>
                 {% else %}
                    {{field.label}}
                 {% endif %}
        	    {{field|add_css:'form-control'}}
                {% if field.errors %}
            		<p class="error">{{field.errors}}</p>
                {% endif %}
        	{% endfor %}
            <button type="submit" class="btn btn-default">Submit</button>
        </div>
        Have no account? <a href="{% url 'accounts:user_create' %}">Register</a>
    </form>

{% endblock %}
