{% extends "www/base.html" %}o

{% block content %}
{% load custom_tags_and_filters %}


<center>
<div class="row" style="width:55%; min-width: 320px">
    <div class="col-xs-3">
        <a href="{% url 'blogpost_list' %}" class="link-logo-menu initialy-invisible">
                <i class="fa fa-rss fa-4x" data-toggle="tooltip" data-placement="bottom" title="Blog"></i><br>
                Blog
        </a>
    </div>
    <div class="col-xs-6" >
        <a href="{% url 'spots_list' %}" class="link-logo-menu initialy-invisible">
            <i class="fa fa-th-large 0 fa-4x "  data-toggle="tooltip" data-placement="bottom" title="Spots"></i><br>
            Spots
        </a>
    </div>
    <div class="col-xs-3">
    <a href="{% url 'add_spot' %}" class="link-logo-menu initialy-invisible">
            <i class="fa fa-plus fa-4x" data-toggle="tooltip" data-placement="bottom" title="Add new spot"></i><br>
            Add new spot
        </a>
    </div>
</div>

<div class="row" style="width:55%; min-width: 320px">
    <div class="col-xs-3" style="vertical-align:middle; padding-top:15%">
        <a href="{% url 'favourites_list' %}" class="link-logo-menu initialy-invisible">
            <i class="fa fa-heart fa-4x" data-toggle="tooltip" data-placement="bottom" title="Favourites"></i><br>
        Favourites
        </a>
    </div>
    <div class="col-xs-6" id="seventyfive">
        <a href="#" class="show-menu"><img src="{{STATIC_URL}}{% settings_value "SPOT_PROJECT_NAME" %}/logo.png" alt="{% settings_value "SPOT_PROJECT_NAME" %} - {% settings_value "SPOT_PROJECT_SLOGAN" %}" style="min-height:80px; min-width:80px; width: 100%; max-width:200px;"></a>
    </div>
    <div class="col-xs-3" style="vertical-align:middle; padding-top:15%">
        <a href="{% url 'certificated_list' %}" class="link-logo-menu initialy-invisible">
            <i class="fa fa-certificate fa-4x" data-toggle="tooltip" data-placement="bottom" title="Certificated"></i><br>
            Certificated
        </a>
    </div>
</div>

<div class="row" style="width:55%; min-width: 320px">
  <div class="col-xs-3"></div>
  <div class="col-xs-6" style="text-align:center">
    <a href="{% url 'map' %}" class="link-logo-menu initialy-invisible">
        <i class="fa fa-map-marker fa-4x "  data-toggle="tooltip" data-placement="bottom" title="Map"></i><br>
        Map
    </a>
  </div>
  <div class="col-xs-3">
<div class="dropdown" id="switch-boards">
<a id="board-title" class="brand dropdown-toggle link-logo-menu initialy-invisible" data-toggle="dropdown" data-target="#switch-boards"><i class="fa fa-user fa-4x"   data-placement="bottom" title=""></i><br>
{% if not user.is_authenticated %}
Register / Login
{% endif %}
    <span class="caret"></span></a>
<ul class="dropdown-menu" role="menu">
                {% if user.is_authenticated %}
                    <li><a href="{% url 'logout' %}">Log me out!</a></li>
                {% else %}
                  <li><a href="{% url 'user_create' %}">Register</a></li>
                  <li><a href="{% url 'login' %}">Login</a></li>
                {% endif %}
              </ul>
</div>



  </div>
</div>

    <h1 style="font-family: 'Lobster'">
        {% settings_value "SPOT_PROJECT_NAME" %} - {% settings_value "SPOT_PROJECT_SLOGAN" %}<br>
    </h1>
    <h2 class='project_description'>
        {% settings_value "SPOT_PROJECT_DESCRIPTION" %}
        <br><br>
    </h2>
 </center>
        <div class="no_copy spot_project_color_background banner">
            <ul>
                <li style="">
                    <div class="inner">
                        <h1>DISCOVER</h1>
                        <p class='banner_function_description'>{% settings_value "SPOT_PROJECT_SUBJECT" %} friendly spots</p>
                        <i class="fa fa-coffee fa-4x" style="color:#ffffff"></i> &nbsp; <i class="fa fa-plus fa-2x" style="color:#ffffff"></i> &nbsp;<i class="fa fa-cutlery fa-4x" style="color:#ffffff">&nbsp; </i> <i class="fa fa-plus fa-2x" style="color:#ffffff"></i> &nbsp; <i class="fa fa-glass fa-4x" style="color:#ffffff"></i>
                    </div>
                </li>

                <li style="">
                    <div class="inner">
                        <a href="{% url 'map' %}" ><h1>MAP</h1>
                        <p class='banner_function_description'>Visualize nearby spots on the map</p>
                        <i class="fa fa-map-marker fa-5x" style="color:#ffffff"></i></a>

                    </div>
                </li>

                <li>
                    <div class="inner">
                        <a href="{% url 'favourites_list' %}"><h1>HEART IT</h1>
                        <p class='banner_function_description'>Remeber your beloved spots by hearting it</p>
                        <i class="fa fa-heart fa-5x" style="color:#ffffff"></i></a>

                    </div>
                </li>

                <li>
                    <div class="inner">
                        <a href="{% url 'certificated_list' %}"><h1>CERTIFICATED</h1>
                        <p class='banner_function_description'>Find the best spots</p>
                        <i class="fa fa-certificate fa-5x" style="color:#ffffff"></i></a>

                    </div>
                </li>

                <li style="">
                    <div class="inner">
                        <a href="{% url 'mobile' %}"><h1>MOBILE</h1>
                        <p class='banner_function_description'>Use mobile version on the go</p>
                        <i class="fa fa-mobile fa-5x" style="color:#ffffff"></i></a>

                    </div>
                </li>
            </ul>
        </div>


{% endblock %}

{% block scripts %}

  {{ block.super }}
    <script type="text/javascript" src="{{ STATIC_URL }}js/mission.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}external/unslider/unslider.min.js"></script>

{% endblock scripts %}



