{% load custom_tags_and_filters %}
<div class="row" style="width:55%; min-width: 320px">
    <div class="col-xs-3">
        <a href="{% url 'blog:blogpost_list' %}" class="link-logo-menu initialy-invisible">
                <i class="fa fa-rss fa-4x" data-toggle="tooltip" data-placement="bottom" title="Blog"></i><br>
                Blog
        </a>
    </div>
    <div class="col-xs-6" >
        <a href="{% url 'www:spots_list' %}" class="link-logo-menu initialy-invisible">
            <i class="fa fa-th-large 0 fa-4x "  data-toggle="tooltip" data-placement="bottom" title="Spots"></i><br>
            Spots
        </a>
    </div>
    <div class="col-xs-3">
    <a href="{% url 'www:add_spot' %}" class="link-logo-menu initialy-invisible">
            <i class="fa fa-plus fa-4x" data-toggle="tooltip" data-placement="bottom" title="Add new spot"></i><br>
            Add new
        </a>
    </div>
</div>

<div class="row" style="width:55%; min-width: 320px">
    <div class="col-xs-3" style="vertical-align:middle; padding-top:15%">
        <a href="{% url 'www:favourites_list' %}" class="link-logo-menu initialy-invisible">
            <i class="fa fa-heart fa-4x" data-toggle="tooltip" data-placement="bottom" title="Favourites"></i><br>
        Favourites
        </a>
    </div>
    <div class="col-xs-6">
        <a href="#" class="show-menu"><img src="{{STATIC_URL}}{% settings_value "SPOT_PROJECT_NAME" %}/logo.png" alt="{% settings_value "SPOT_PROJECT_NAME" %} - {% settings_value "SPOT_PROJECT_SLOGAN" %}" style="min-height:80px; min-width:80px; width: 100%; max-width:200px;"></a>
    </div>
    <div class="col-xs-3" style="vertical-align:middle; padding-top:15%">
        <a href="{% url 'www:certificated_list' %}" class="link-logo-menu initialy-invisible">
            <i class="fa fa-certificate fa-4x" data-toggle="tooltip" data-placement="bottom" title="Certificated"></i><br>
            Certificated
        </a>
    </div>
</div>

<div class="row" style="width:55%; min-width: 320px; display:none" id="search-row">
    <div class="col-xs-12">
    <form class="navbar-form navbar-left" role="navbar-search" style="width:100%">
                    <div class="right-inner-addon">
                      <a href="#" id="search-remove-helper"><i class="glyphicon glyphicon-search" id="search-remover"></i></a>
                      <span role="status" aria-live="polite" class="ui-helper-hidden-accessible"></span><input type="search" class="form-control ui-autocomplete-input" id="smart_menu_search" placeholder="Search" autocomplete="off" style="width:100%">
                    </div>
                  </form>
    </div>
</div>
<div class="row" style="width:55%; min-width: 320px; padding-top:25px; padding-bottom:25px">
  <div class="col-xs-3">
    <a href="#" class="link-logo-menu initialy-invisible" id="search-icon">
        <i class="fa fa-search fa-4x "  data-toggle="tooltip" data-placement="bottom" title="Map"></i><br>
        Search
  </div>
  <div class="col-xs-6" style="text-align:center">
    <a href="{% url 'www:map' %}" class="link-logo-menu initialy-invisible">
        <i class="fa fa-map-marker fa-4x "  data-toggle="tooltip" data-placement="bottom" title="Map"></i><br>
        Show nearby
    </a>
  </div>
  <div class="col-xs-3">
    <a href="{% if not user.is_authenticated %}{% url 'accounts:login' %}{% else %}{% url 'accounts:logout' %}{% endif %}"class="link-logo-menu initialy-invisible">
        <i class="fa fa-user fa-4x" data-placement="bottom" title=""></i><br>
        {% if not user.is_authenticated %}
            Login
        {% else %}
            Logout
        {% endif %}
    </a>
   </div>
</div>
