{% extends "www/base.html" %}
{% load custom_tags_and_filters %}
{% block title %}
    {{ spot.name }} {{spot.address_city}}, {{spot.address_street}} {{spot.address_number}}

    {% if spot.is_enabled == True %} is {% settings_value "SPOT_PROJECT_SUBJECT" %} friendly spot :)
    {% elif spot.is_enabled == False %} isn't {% settings_value "SPOT_PROJECT_SUBJECT" %} friendly spot :(
    {% endif %}

    {% if spot.friendly_rate %}
        (Rating: {{spot.friendly_rate}}/5.00)
    {% endif %}

    - by {% settings_value "SPOT_PROJECT_NAME" %} - {% settings_value "SPOT_PROJECT_SLOGAN" %}
{% endblock %}
{% load bootstrap3 %}

{% block extra_head %}
    {{ form.media }}
{% endblock %}

{% block content %}
    <div class="row">

        <div class="col-md-3 col-md-push-9">
            <center>

                <div class='allowance-icon'>
                {% if spot.is_certificated %}
                     <img src="/static/{% settings_value "SPOT_PROJECT_NAME" %}/certificate.png" alt="spot is certificated to be {% settings_value "SPOT_PROJECT_SUBJECT" %} friendly!" style="max-width:100%">
                {% else %}
                    {% if spot.is_enabled %}
                        <img src="/static/{% settings_value "SPOT_PROJECT_NAME" %}/marker-ok-kopia.png" alt="spot is enabled">
                    {% elif spot.is_enabled == False %}
                        <img src="/static/{% settings_value "SPOT_PROJECT_NAME" %}/marker-bad-kopia.png" alt="spot is not enabled">
                    {% else %}
                        <img src="/static/{% settings_value "SPOT_PROJECT_NAME" %}/marker-undefined-kopia.png" alt="spot enablence is undefined">
                    {% endif %}
                {% endif %}
                </div>

                <span data-score="{{spot.friendly_rate}}" class="rating via_modal" id="{{spot.pk}}"></span>
                <br><br>
                {% for element in HSTORE_SCHEMA %}

                    {% with element|keyvalue:'name' as FACILITY_FULLFILMENT %}
                        {% if spot.facilities|keyvalue:FACILITY_FULLFILMENT == True %}
                            <i class="fa fa-check fa-4x" style="color: #3fb350" title="Yes"></i>
                        {% elif spot.facilities|keyvalue:FACILITY_FULLFILMENT == False %}
                            <i class="fa fa-times fa-4x" style="color: #a1a1a1" title="No"></i>
                        {% else %}
                            <i class="fa fa-question fa-4x" style="color: #a1a1a1" title="Undefined"></i>
                        {% endif %}
                    {% endwith %}

                    {% with element|keyvalue:'kwargs'|keyvalue:'verbose_name' as FACILITY %}
                        <h2 class="facility">
                            {{FACILITY}}:
                        </h2>
                    {% endwith %}

                {% endfor %}

                    {% if spot in user.favourites %}
                        <div class="heart" data-url="/api/favourites_spots/" data-spot-pk="{{spot.pk}}" data-fav-pk="{{user.spot_pk_to_fav_asset_pk|keyvalue:spot.pk}}" style="font-size:72px; "></div>
                    {% else %}
                        <div class="no-heart {% if user.is_authenticated == False %}disabled{%endif%}" data-url="/api/favourites_spots/" data-spot-pk="{{spot.pk}}" data-fav-pk="" style="font-size:72px"></div>
                    {% endif %}
            </center>
        </div>

        <div class="col-md-9 col-md-pull-3">
            <ul class="list-group">
                <li class="list-group-item" style="text-align:center;">
                    <h2 style="font-family:Lato Italic">
                        {{ spot.name|upper }}<br>
                        {% if spot.is_certificated %}
                        <span style="font-size: 12pt">is certificated to be {% settings_value "SPOT_PROJECT_SUBJECT" %} friendly!</span>
                        {% endif %}
                        {% if spot.thumbnail_venue_photo %}
                        <center>
                            <div class="circular-thumbnail" style="background-image:url('{{spot.thumbnail_venue_photo}}')">
                            </div>
                        </center>
                        {% endif %}
                    </h2>
                </li>
                <li class="list-group-item">
                    <div id="map_canvas_spot_detail" style="height:260px" ></div>
                </li>
                {% if spot.phone_number %}
                    <li class="list-group-item">
                        <span class="badge invert fa fa-phone fa-2x"> </span>
                         <a href='tel://{{spot.phone_number}}'>{{spot.phone_number}}</a>
                    </li>
                {% endif %}
                    <li class="list-group-item">
                        <span class="badge invert fa fa-location-arrow fa-2x"> </span>
                         {{spot.address_city}}, {{spot.address_street}} {{spot.address_number}} 
                         [ <a href="http://maps.google.com/maps?daddr={{spot.latitude}},{{spot.longitude}}&amp;ll=" target="_blank">find route</a> ]
                    </li>
                {% if spot.email %}
                    <li class="list-group-item">
                        <span class="badge invert fa fa-envelope-o fa-2x"> </span>
                        <a href='mailto:{{spot.email}}' target='_blank'>{{spot.email|truncatechars:100}}</a>
                    </li>
                {% endif %}

                {% if spot.www %}
                    <li class="list-group-item">
                        <span class="badge invert fa fa-link fa-2x"> </span>
                        <a href='{{spot.www}}' target='_blank'>{{spot.www|truncatechars:100}}</a>
                    </li>
                {% endif %}

                {% if spot.facebook %}
                    <li class="list-group-item">
                        <span class="badge invert fa fa-facebook fa-2x"> </span>
                        <a href='{{spot.facebook_url}}' target='_blank'>{{spot.facebook_url|truncatechars:100}}</a>
                    </li>
                {% endif %}

                <li class="list-group-item" style="height:100%">
                 <div style="width:100%; padding:0px; min-height: 170px; overflow: hidden">
                      <div class="col-md-3">
                          <img src="{% url 'qrcode_scaled' pk=spot.pk size=2%}"><br>
                          [ <a href='{% url 'vcard' pk=spot.pk %}'>Download vCard</a> ]
                      </div>
                      <div class="col-md-9">
                        {% if spot.blog_posts.all %}
                            <h2 style="font-family:Lato Italic">Blog posts about this spot:</h2>
                            {% for post in spot.blog_posts.all %}
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="imgAbt">
                                        <img src="{{post.blogpost_photo_thumb|safe}}" width="100%">
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <a href="{% url 'blogpost_detail' pk=post.pk post_slug=post.post_slug %}"><h3 style="margin-top:5px">{{post.title}}</h3></a>
                                    <p>{{post.text|truncatechars:200}}</p>
                                </div>
                            </div>
                            {% endfor %}
                        {% endif %}
                      </div>
                  </div>
                </li>
            </ul>
        </div>
    </div>

{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script language="javascript">
        var STATIC_URL = "/static/"; var LAT = "{{ spot.latitude }}"; var LON = " {{ spot.longitude }}";
    </script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/spot_detail.js"></script>
{% endblock scripts %}
