
.icon-emo-sunglasses:before { content: '\e800'; } /* '' */
.icon-emo-displeased:before { content: '\e801'; } /* '' */
.icon-crown:before { content: '\e802'; } /* '' */
.icon-crown-plus:before { content: '\e803'; } /* '' */
.icon-star-half-alt:before { content: '\e804'; } /* '' */
.icon-user:before { content: '\e805'; } /* '' */
.icon-female:before { content: '\e806'; } /* '' */
.icon-male:before { content: '\e807'; } /* '' */