{% extends "base.html" %}

{% block content %}



<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>



  <!-- Wrapper for slides -->
  <div class="carousel-inner">

    <div class="item active">
      <center><img src="{{ STATIC_URL }}/logotyp/dog_allowed.png" alt="..."></center>
      <div class="carousel-caption">
        <span id="lobster">In this spots dogs are allowed.</span>
      </div>
    </div>

    <div class="item">
      <center><img src="{{ STATIC_URL }}/logotyp/dog_NOT_allowed.png" alt="..."></center>
      <div class="carousel-caption">
        <span id="lobster">In this spots dogs are not allowed.</span>
      </div>
    </div>

   <div class="item">
      <center><img src="{{ STATIC_URL }}/logotyp/dog_undefined_allowed.png" alt="..."></center>
      <div class="carousel-caption">
        <span id="lobster">We have had mixed feelings about this spots.</span>
      </div>
    </div>

    ...
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>

{% endblock %}