<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="utf-8" />
    <title>Dogspot</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% block styles %}
            <link rel="stylesheet" href="{{ STATIC_URL }}external/bootstrap/css/bootstrap.min.css" type="text/css" media="screen" />
        {% endblock styles %}
    </head>

    <body>

        {% block messages %}
            <ul id="messages_list" style="display: none">
                {% if messages %}
                    {% for message in messages %}
                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                {% endif %}
            </ul>
        {% endblock messages %}

        {% block templates %}
        {% endblock templates %}

        <div id="modals">
            {% block modals %}{% endblock modals %}
        </div>

        {% block content %}
        {% endblock content %}

        {% block scripts %}
            <script src="{{ STATIC_URL }}external/jquery/jquery-1.10.1.min.js"></script>
            <script src="{{ STATIC_URL }}external/bootstrap/js/bootstrap.js"></script>


        {% endblock scripts %}
    </body>
</html>
