{% extends "base.html" %}


{% block content %}



	<h2> <i class="fa fa-heart fa-2x" style="color:#ea7474"></i> Your favourites spots!
	</h2>
<!--
<table>
	<tr>
		<td>
			250 x250
		</td>

		<td>

			<script async src="//static.adhoc1.net/daft.js"></script>
			<ins class="daftslot"
			    style="display:inline-block;width:250px;height:250px"
			    data-hash="P2MOFtXj0KB3DxECXaxUK0"
			    data-var1=""
			    data-var2=""
			    data-var3="">
			</ins>

		</td>
	</tr>
	<tr>
		<td>
			125 x 125
		</td>

		<td>

			<script async src="//static.adhoc1.net/daft.js"></script>
			<ins class="daftslot"
			    style="display:inline-block;width:125px;height:125px"
			    data-hash="3530x_3StYR_yWz96BUir0"
			    data-var1=""
			    data-var2=""
			    data-var3="">
			</ins>

		</td>
	</tr>
	<tr>
		<td>
			720x300
		</td>

		<td>

			<script async src="//static.adhoc1.net/daft.js"></script>
			<ins class="daftslot"
			    style="display:inline-block;width:720px;height:300px"
			    data-hash="hB1U9Lvy2vuGIH9ng1AEDW"
			    data-var1=""
			    data-var2=""
			    data-var3="">
			</ins>

		</td>
	</tr>
</table>
-->

{% endblock %}
