{% extends "base.html" %}

{% load bootstrap3 %}


{% block extra_head %}
    {{ form.media }}
{% endblock %}

{% block content %}
<div class="row">
                  <div class="col-xs-12">
                    <h5></h5>
                  </div>
                </div>
                <div class="row row-map">
                  <div class="col-xs-12 col-sm-3">
                    <div class="list-group"  id="spots_list">
                    </div>
                  </div>
                  <div class="col-xs-12 col-sm-9 no-col-padding">
                    <!-- Bootstrap-map-js -->
                    <div id="map_canvas" style="height:500px;opacity:0.1"></div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-3"><h5></h5></div>
                  <div class="col-xs-5"><h5></h5></div>
                  <div class="col-xs-4"><h5></h5></div>
</div>
{% endblock %}



