
{% extends "www/base.html" %}
{% load custom_tags_and_filters %}
{% block title %}
    {{post.title}}  - blog by {% settings_value "SPOT_PROJECT_NAME" %} - {% settings_value "SPOT_PROJECT_SLOGAN" %}
{% endblock %}
{% load bootstrap3 %}

{% block extra_head %}
    {{ form.media }}
{% endblock %}

{% block content %}


<div class="row">
    <div class="col-md-12 no-col-padding">
    	<h2 class="titles">
  			<span class="fa fa-rss fa-2x spot_project_color"></span> <a href="{% url 'blogpost_list' %}">Blog!</a>
  		</h2>
        <h1 style="font-family:Lato">
            <a href="{% url 'blogpost_detail' pk=post.pk post_slug=post.post_slug %}" style="text-decoration:none; font-weight:600;">{{post.title}}</a>
        </h1>
        <h2 style="font-family:Lato Italic">{{post.text}}</h2>
    </div>
    <div class="col-md-12">
        <a href="{{post.blogpost_photo_thumb}}" target="_blank">
        <img src="{{post.blogpost_photo_thumb|safe}}" width="100%"></a>
    </div>
</div>

{% if post.spot %}
    <h2><a href="{{post.spot.www_url}}">{{post.spot.name}}</a></h2>

{% endif %}
{% endblock %}

{% block scripts %}
  {{ block.super }}
{% endblock scripts %}